*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.header{
  display: flex;
  /* padding: 1em; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(14, 104, 140);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}


.header  *{
  display: flex;
  align-items: center;
  margin: 0.2em;
}

.aside-container{
  position: fixed;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.858);
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  left: 0;
  padding: 1em;
  bottom: 0;
}


.aside-container .list-items{
  display: grid;
 list-style: none;
 place-content: center;
 height: 100%;
}

.list-items li{
  padding: 0.5em;
  text-transform: capitalize;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease-in-out;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: white;
}

.list-items li:hover{
  background: rgba(222, 222, 222, 0.136);
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6{
  color: rgb(32, 33, 33);
  margin: 0.7em 0;
  text-transform: capitalize;
}

.body{
  min-height: 100dvh;
  position: relative;
  text-align: center;
  margin: 6em auto;
}

.body .container{
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.body .paper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  transition: .4s ease;
  cursor: pointer;
}

.body .paper:hover{
  background: whitesmoke;
}

.underline{
  width: 40px;
  height: 5px;
  background: black;
  margin: 0 10px ;
}

p{
  margin: 0.3em 0;
  font-size: medium;
}

.paper.auction{
  margin: 1.4em auto;
}

.auction-details{
  display: flex;
flex-direction: column;
gap: 1em;
}

.input-box{
  padding: 1em;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.input-box input , 
.input-box button{
padding: 1.3em;
margin: 0 1em;
border-radius: 1em;
border: none;
}

.input-box input{
  border-bottom: 2px solid grey;
}

.input-box button{
  cursor: pointer;
  background: rgb(19, 138, 19);
  color: white;
  font-size: 1em;
  transition: .5s ease-in-out;
}

.input-box button:hover{
  transform:scale(0.91)
}


.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.6em auto;
  gap: 1em;
}


#img-label{
  background: rgb(48, 131, 164);
  padding: 1em;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

input[type='datetime-local']{
  padding: 1em;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid grey;
}

.alert-box{
  position: absolute;
  top: -50%;
  padding: 10px;
  background: black;
  color: white;
  font-weight: bold;
  font-family: cursive, sans-serif;
  border-radius: 20px;
}


.loader{
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.loader .spinner{
  width: 100px;
  height: 100px;
  border: 12px solid rgba(0, 0, 0, 0.369);
  border-bottom-color:rgb(60, 60, 243);
  border-radius: 50%;
  animation: spin 1s linear infinite ;
}

@keyframes spin {
  
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(350deg);
  }
}